<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/static/mywebscript.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="center-heading">NLP - Emotion Detection</h1> 
        <form id="form">
            <div class="form-group">
                <label for="textToAnalyze">Enter the text to be analyzed:</label>
                <input type="text" class="form-control" id="textToAnalyze">
            </div>
            <button type="button" onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
        </form>
        <div id="system_response"></div>
    </div>
</body>
</html>


